/* Color Palette */
/* To define Color Palette, we use Variables, so we can use in multiple places.
To define Varaibles/Globbal Variables or Custome Properties, we use pseudo class selcter, which is :root. */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: ##1b0760;
  --color-body: #918ca4;
}
